body {
   background-color: grey;
}
img {
   width: 600px;
}
.photos {
   text-align: center;
}
.cats {
   text-align: center;
}
.text {
   text-align: center;
   color: white
}
.hr hr {
   border-color: blue;
   height: 10px;
   border=none
}
.heading {
   text-align: center;
}
.container {
   text-align: center;
   width: 960px;
   margin: 0px auto;
}