body {
   background-image: url(dark_embroidery.png);
}
img {
   width: 955px;
   border: 5px solid #006B6B;
}
.photos {
   text-align: center;
}
.cats {
   text-align: center;
}
.text {
   text-align: center;
   color: white;
}
.hr hr {
   border-color: teal;
   border: 4px solid teal;
}
.heading {
   text-align: center;
}
.container {
   text-align: center;
   width: 960px;
   margin: 0px auto;
}
.a {
   text-decoration: none;
   color: teal;
}
nav a:hover {
   color: teal;
}
td a:hover {
   color: white;
}
nav li {
   display: inline;
}
table {
   border: 5px solid teal;
   padding: 3px;
   border-collapse: collapse;
}
td {
   text-align: center;
   color: white;
   border-bottom:3px solid teal;
   border-left: 3px solid teal;
}
.table {
   margin: 0px auto;
}
.active {
   color: red;
}
.backtotop {
   border: 4px solid teal;
}
tr:hover {
      background-color: teal;
}
h1:hover {
   color: teal;
}
.tablelink {
   color: white;
}
.tablelink:hover {
   color: black;
}
.natgeocaption {
   color: teal;
   text-decoration: none;
}

iframe {
   border: 10px solid teal;
   width: 960px;
   height: 500px;
}