
.body {
   background-color: #00CCCC;
   width: 20%;
   margin: 0px auto;
}
.hr {
   height: 10px;
   border: none;
}
.photos {
   width: 60%;
   margin:0px auto;
}
.cats {
   width: 60%;
   margin: 0px auto;
}
.container {
   width: 960px;
   margin: 0px auto;
}