
@media screen and (max-width: 700px) {
  .hr hr {
    border: 8px solid teal;
  }
  body {
    text-align: center;
    margin: 0px auto;
    width: 100%;
  }
  .container {
    text-align: center;
    margin: 0px auto;
    font-size: 1.5em;
    width: 100%;
  }
  table {
    display: none;
  }
  .mainimages {
     width: 100%;
     border: 5px solid teal;
     margin-bottom: 25px;
     display:block;
     margin:0 auto;
  }
  .iframe {
    height: 200px;
  }
  .backbutton {
    display: none;
  }
  header h1 {
    color: #FF6699;
    text-decoration: none;
    border: 20px solid teal;
    padding: 10px;
    font-size: 2em;
    font-family: arial;
    background-color: teal;
    width: 150px;
    margin: 0px auto;
    margin-top: 20px;
    border-radius: 35%;
  }
  header a {
   font-size: 2.0em; 
  }
  p {
    font-size: 1.6em;
    width: 100%;
    margin-bottom: 50%;
  }
  .paragraph {
    width: 100%;
  }
}
.backbutton {
  width: 70px;
  position: fixed;
  border: none;
  bottom: 100px;
  right: 100px;
  float: right;
}
.backbutton {
  clear: right;
}
#head {
  text-decoration: none;
}
body {
   background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../images/dark_embroidery.png);
   width: 80%;
   margin: 0px auto;
   text-align: center;
}
.p {
 color: teal;
 background: rgba(50,50,50, .5)
}
.container {
  width: 960px;
  margin: 0px auto;
}
img {
   width: 960px;
   border: 5px solid teal;
   margin-bottom: 25px;
}
header > h1 {
  color: #FF6699;
  text-decoration: none;
  text-shadow: 1px 1px grey;
  border: 5px solid teal;
  background-color: teal;
  width: 250px;
  margin: 0px auto;
  margin-top: 20px;
  border-radius: 30%;
}

hr {
   border-color: teal;
   border: 4px solid teal;
}

table {
   border: 5px solid teal;
   padding: 3px;
   border-collapse: collapse;
   margin: 0px auto;
   font-size: 20px;
   width: 700px;
}

td {
   text-align: center;
   color: #FF6699;
   border-bottom:3px solid teal;
   border-left: 3px solid teal;
}
.backtotop {
   border: 4px solid teal;
   background-color: teal;
   border-radius: 30%;
   color: #FF6699;
   font-weight: 900;
   margin-top: 15px;
}

tr:hover td {
      background-color: teal;
      transition:all linear 0.25s;
      color: white;
}

.tablelink {
   color: #FF6699;
}
.tablelink:hover {
   color: black;
}
iframe {
   border: 10px solid teal;
   width: 70%;
   height: 580px;
   text-align: center;
}